<!DOCTYPE html>
<html>
  <head>
    <title>MergeTrainRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to "Home", root_path %>
      <%= link_to "Articles", articles_path %>
      <div id="user-nav-right">
      <%if current_user %>
        <span><%= current_user.email %></span>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
